<div id="navbar">
<h1>Hello, I am AskMe.</h1>
</div>

<form action="/ask" data-turbo="false">
  <input type="text" name="ask" placeholder="Ask a question...">
  <input type="submit" value="Ask!">
</form>
