<h1>Stupid Coaching.</h1>

<form action="/answer" data-turbo="false">
  <input type="text" name="question" placeholder="Ask Coach a question...">
  <input type="submit" value="Ask!">
  <%# <a href="ANCHOR_URL">ANCHOR_TEXT</a> %>
</form>
